<%= render "layouts/jumbotron" %>
<div class="container mt-5 mb-5">
  <h4 class="text-center">「<%= @genre.name =%>」の映画</h4>
</div>

<div class="mb-4">
  <%= render "reviews/review", reviews: @reviews %>
</div>

<div class="pagination-sm mt-5 mb-5">
 <%= paginate @reviews %>
</div>


