<genre class="mt-4 mb-4">
  <nav class="navbar navbar-expand-sm navbar-light" style="background-color:#fff5ee;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <% @parents.each do |parent| %>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><%= parent.name %></a>
            <ul class="dropdown-menu dropdown-menu-right">
              <% parent.children.each do |child| %>
                <li class="dropdown-item small"><%= link_to child.name, user_genre_path(@user, child) %></li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</genre>

