<%= render "user.show", user: @user %>
  
<div class="mb-5">  
  <%= render "usersbar" %>
</div>

<%= render 'reviews/review', reviews: @likes %>

<div class="pagination-sm mt-5 mb-5">
 <%= paginate @likes %>
</div>