<%= render "layouts/jumbotron" %>

<div class="text-center mt-5">
  <h4>お問い合わせありがとうございます。</h4>
</div>

<div class="container p-4 mt-4 mb-4">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      
      <div class="mb-5">
        ご記入していただいた情報は無事に送信されました。<br>
        お問い合わせいただいた内容につきましては、近日中にお返事させていただきます。今しばらくお待ちください。
      </div>

      <%= link_to "TOPへ戻る", root_path, class: "btn btn-info btn-block mt-5" %>
      
    </div>
  </div>
</div>