<%= render "layouts/jumbotron" %>

<% if logged_in? %>
  <div class="container">
    <h4 class="text-center mt-5 mb-5">タイムライン</h4>
  </div>
  
  <div class="mb-4">
    <%= render "reviews/review", reviews: @reviews %>
  </div>
  
<% else %>
  <div class="container">
    <h4 class="text-center mt-5 mb-5">人気のレビュー</h4>
  </div>
    
  <%= render "reviews/review", reviews: @reviews %>


<% end %>


