/* ページネーション */

.pagination {
  display: flex;
  justify-content: center;
}

.pagination > li >a {          
  border: none;
  color: #696969;
  background-color: #fff5ee;
}

.pagination > li > a:hover {
  color: #696969;
  background-color: white;
}

.pagination > .active > a {
  background-color: #696969 !important
}

.pagination > .active > a {
  color: #fff5ee !important
}

/* 画像登録ボタン */

.form-image{
          input{
            display: none;
          }
