<genre class="mt-4">
  <nav class="navbar navbar-expand-sm navbar-light" style="background-color:#fff5ee;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav">
        
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">気分</a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-item small">泣きたい時に見たい</li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">誰と</a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-item small">1人で見たい</li>
          </ul>
        </li>
        
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">ストーリー</a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-item small">思い出とリンクする</li>
          </ul>
        </li>
        
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">キャラクター</a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-item small">ベストヒーロー</li>
          </ul>
        </li>
        
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">シチュエーション</a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-item small">大音量で見たい</li>
          </ul>
        </li>
        
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">その他</a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-item small">シリーズもの</li>
          </ul>
        </li>
        
        
      </ul>
    </div>
  </nav>
</genre>



