<div class="jumbotron jumbotron-fluid" style="background: url(<%= asset_path "popcorn03.jpg" %>); center no-repeat; background-size:cover;">
  <div>
    <h2 class="text-center mb-4" style="color:#fff5ee;">みんなのお気に入り</h2>
    <%= render "layouts/genrebar" %>
  </div>
</div>
